/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter-Variable';
  --font-header: 'PressStart2P-Regular';
  --font-card-header-weight: 715;
  --font-text-weight: 410;
  --bg-gradient: repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
   repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
   linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-inline-size: clamp(320px, 100%, 700px);
  --title-font-size: clamp(49px, 4.5vw, 65px);
  --subtitle-font-size: clamp(14px, 1.6vw, 23px);
  --border-style: 2px solid #000;
  --outline-color: #fff;
  --bg-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
}